{% extends "app/layout.html" %}
{% load staticfiles %}
{% block content %}

<img src="{% static 'app/yoGDi9q.png' %}" width="100%" alt="DocLock">

<div class="row">
    <div class="col-md-4">
        <h2>Signing up</h2>
        <p>
            Signing up gives you the opportunity to have an account, which is necessary to visit the website and upload documents.
            A valid phone number is necessary to open an account.
        </p>
        <p><a class="btn btn-default" href="/signup">Sign up &raquo;</a></p>
    </div>
    {% if request.session.validated %}
    <div class="col-md-4">
        <h2>Uploading documents</h2>
        <p>Upload documents and files safely right now.</p>
        <p><a class="btn btn-default" href="/uploadDoc">Start uploading &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Logging out</h2>
        <p>Wish to leave? 
        Simply click this button, all your authentication data will be flushed</p>
        <p><a class="btn btn-default" href="/logout">Leave safely &raquo;</a></p>
    </div>
    {% else %}
    <div class="col-md-4">
        <h2>Logging in</h2>
        <p>Already have an account? Get your phone (2FA) and log-in</p>
        <p><a class="btn btn-default" href="/login">Learn more &raquo;</a></p>
    </div>
    {% endif %}
</div>

{% endblock %}
